<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}Home Root Level{% endblock %}

{% block content %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal">Welcome to Our School</h1>
  <p class="fs-5 text-muted mt-4">This is our faculty and student portal. You must be a faculty or registered student in order to access the content. If you have an account, please log in. Otherwise, create an account.</p>
</div>

<div class="container">
  <div class="d-flex flex-column">
    <h4>Registered Users: </h4>

  </div>
</div>
{% endblock %}